<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.garmin.paceapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>connect</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-652638681487-ios-0bf0155356db81a4d6f3fa</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>gcm-ciq</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Gilroy-Bold.ttf</string>
		<string>Gilroy-ExtraBold.ttf</string>
		<string>Gilroy-Light.ttf</string>
		<string>Gilroy-Medium.ttf</string>
		<string>Gilroy-Regular.ttf</string>
		<string>Gilroy-SemiBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>darkSeaBlue</string>
	</dict>
</dict>
</plist>
